<!-- START SIDEBAR -->
<div class="sidebar clearfix">

<ul class="sidebar-panel nav">
  <li class="sidetitle">MAIN</li>
  <li><a routerLink="/welcome"><span class="icon color5"><i class="fa fa-star"></i></span>welcome</a></li>
  <li><a routerLink="/inputOutput"><span class="icon color5"><i class="fa fa-star"></i></span>@input and @output</a></li>
  <li><a routerLink="/io-customEvent"><span class="icon color5"><i class="fa fa-star"></i></span>I/O Custom Eventt</a></li>
  <li><a routerLink="/io-game"><span class="icon color5"><i class="fa fa-star"></i></span>I/O Memory Game</a></li>
</ul>


</div>
<!-- END SIDEBAR -->